[package]
name = "armoricore-config"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
config = { workspace = true }
dotenvy = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }

